/* styles */
page_header {
  background-color: #ffffff;
  border-color: #666666;
  position: absolute;
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}
header {
  background-color: #4aaaa5;
  padding: 25px;
  color: white;
  float: left;
  width: 100%;
}
ul {
}
body {
  clear: both;
  text-align: center;
  width: 100%;
  /* align-items: stretch;
  flex-direction: column;
  flex: 1 1 auto; */
  background-image: url ("../images/interlaced.png");
  background-color: grey;
  font-family: Arial, Helvetica, sans-serif;
}
.body {
  /* display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-grow: 1; */
  background-color: white;
  border-color: #dddddd;
}
.page_start {
  text-align: left;
  color: #4aaaa5;

  width: 100%;

  border-bottom-style: solid;
  border-color: grey;
}
img {
  margin: 10px;
}
.aside {
  word-wrap: break-word;
  text-align: left;
}
.text-break {
  text-align: left;
}
.footer {
  width: 100%;
  background-color: #666666;
  padding: 25px;
}
.card {
  fxflex: 1 1 auto;
}
.footer {
  flex: 1 1 auto;
}
.flexContainer {
  display: flex;
  align-self: center;
  align-items: stretch;
  flex-direction: column;
}
.card {
  align-items: center;
  align-self: center;
}
.card-body {
  align-items: center;
}
